<div class="ds-dialog" id="igbcontract" tabindex="-1" role="dialog">
    <div class="ds-dialog-wrap">
        <div class="ds-dialog-content">
            <div class="ds-dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In-Game Browser Required</h4>
            </div>
            <div class="ds-dialog-body">
                <p>You must be using the Eve In-Game Browser (IGB) to open the contract.</p>
            </div>
            <div class="ds-dialog-footer">
                <button type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="ds-dialog" id="igbsetdest" tabindex="-1" role="dialog">
    <div class="ds-dialog-wrap">
        <div class="ds-dialog-content">
            <div class="ds-dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In-Game Browser Required</h4>
            </div>
            <div class="ds-dialog-body">
                <p>You must be using the Eve In-Game Browser (IGB) to use the set destination feature.</p>
                <p>The website must also be added to the trusted sites list.</p>
            </div>
            <div class="ds-dialog-footer">
                <button type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="ds-dialog" id="igbbuy" tabindex="-1" role="dialog">
    <div class="ds-dialog-wrap">
        <div class="ds-dialog-content">
            <div class="ds-dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In-Game Browser Required</h4>
            </div>
            <div class="ds-dialog-body">
                <p>You must be using the Eve In-Game Browser (IGB) to use the buy button.</p>
            </div>
            <div class="ds-dialog-footer">
                <button type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="ds-dialog" id="igbfitting" tabindex="-1" role="dialog">
    <div class="ds-dialog-wrap">
        <div class="ds-dialog-content">
            <div class="ds-dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In-Game Browser Required</h4>
            </div>
            <div class="ds-dialog-body">
                <p>You must be using the Eve In-Game Browser (IGB) to open the ship fitting.</p>
            </div>
            <div class="ds-dialog-footer">
                <button type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="ds-dialog" id="fittingauth" tabindex="-1" role="dialog">
    <div class="ds-dialog-wrap">
        <div class="ds-dialog-content">
            <div class="ds-dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Authorisation Error</h4>
            </div>
            <div class="ds-dialog-body">
                <p>You are not authorised to view this ship fitting. You must be authenticated as the owning account.</p>
            </div>
            <div class="ds-dialog-footer">
                <button type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="ds-dialog" id="shortenUrl" tabindex="-1" role="dialog">
    <div class="ds-dialog-wrap">
        <div class="ds-dialog-content">
            <div class="ds-dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Url Shortener</h4>
            </div>
            <div class="ds-dialog-body">
                <div id="shortenUrlGenerating" class="ds-loading"><p>Generating Url...</p><img src="@Url.Content("~/Content/images/icons/loading.gif")" alt="Loading" /></div>
                <div id="shortenUrlResult"></div>
            </div>
            <div class="ds-dialog-footer">
                <button type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="ds-dialog" id="eftFitting" tabindex="-1" role="dialog">
    <div class="ds-dialog-wrap">
        <div class="ds-dialog-content">
            <div class="ds-dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>EFT Fitting</h4>
            </div>
            <div class="ds-dialog-body">
                <div id="eftFittingLoading" class="ds-loading"><p>Loading...</p><img src="@Url.Content("~/Content/images/icons/loading.gif")" alt="Loading" /></div>
                <div id="eftFittingResult"></div>
            </div>
            <div class="ds-dialog-footer">
                <button type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>