@using DoctrineShips.Web.ViewModels
@using GridMvc.Html
@model HomeSubscriptionsViewModel

@{
    ViewBag.Title = "Service Subscriptions";
}

<div id="ds-main" role="main">
    <div id="ds-header">
        <h1>
            Service Subscriptions<br />
            <small>Doctrine Ships service accounts are available for corporations, alliances or even individuals.</small>
        </h1>
    </div>
    <div id="ds-subscriptions">
        <h3>For Corporations & Alliances</h3>
        <p>Doctrine Ships can help to improve the organisation and standardisation of your fleet doctrines and ensure that line members are flying the correct fits in the shortest amount of time possible.</p>
        <p>Line members can be sure that they are flying the most up-to-date fitting and that the contracts they are buying have all of the valid components; including ammunition, drones, scripts and repair paste. Invalid contracts are shown in red and can be filtered out.</p>
        <p>Move the control of the contracts market back to your corporation or alliance management. If sales agents consistently add invalid contracts or attempt to extort members they can be disabled.</p>
        <p>Standardise on contract pricing with account-wide profit margin calculations based upon current market data.</p>
        <p>Send out fleet pings with a Doctrine Ships URL for the doctrine you wish members to use. The URL can contain various parameters to filter only valid contracts for the current station and for all ships in a particular doctrine.</p>
        <p>Manage contract availability levels and receive alerts when custom thresholds are reached.</p>
        <h3>For Individuals</h3>
        <p>If your corporation or alliance doesn't use Doctrine Ships, don't worry! You can subscribe as an individual or a group. Perhaps you are an industrialist looking to improve the service to your customers or give yourself an edge over the competition.</p>
        <p>Despite the name of the service, any type of ship fit can be sold through Doctrine Ships. You can even sell your own custom fits to corporations that you are not a member of.</p>
        <h3>Features</h3>
        <p>Here are some of the features and tools available with Doctrine Ships:</p>
        <ul>
            <li>Contract validity checking.</li>
            <li>Contract sorting/filtering with custom URLs for fleet pings.</li>
            <li>Contract availability monitoring and twitter alerts.</li>
            <li>Ship fit imports from EVE XML format (supports bulk import).</li>
            <li>Ship fit details with up-to-date market data.</li>
            <li>Ship fit buying tool.</li>
            <li>Account-level control over settings such as profit percentages.</li>
            <li>Manage sales agents, ship fittings and account permissions/access codes.</li>
        </ul>
        <h3>Pricing</h3>
        <p>Custom subscription plans are available if your requirements are not met by one of the standard plans shown below.</p>
        <div class="wrapper">
            @Html.Grid(Model.SubscriptionPlans).Columns(columns =>
                    {
                        columns.Add(c => c.Name).Css("hidden-xs").Titled("Name").Filterable(true).Sortable(true);
                        columns.Add(c => c.Description).Css("hidden-xs").Titled("Description").Filterable(true).Sortable(true);
                        columns.Add(c => c.SalesAgentLimit).Titled("Sales Agents").Filterable(true).Sortable(true);
                        columns.Add(c => c.PricePerMonth).Titled("Price (Per Month)").RenderValueAs(c => @String.Format("{0:N2} ISK", @c.PricePerMonth)).Filterable(true).Sortable(true);
                    }).WithPaging(10, 5).WithMultipleFilters()
        </div>
        <h3>Subscribe</h3>
        <p>Please contact one of the Doctrine Ships staff listed below in-game, tweet <a href="https://twitter.com/DoctrineShips">@@DoctrineShips</a> or email <a href="mailto:info@doctrineships.com" />info@doctrineships.com</a> to subscribe.</p>
        <div class="ds-subscriptions-staff"><a href="javascript:void(0)" onclick="CCPEVE.showInfo(1377, 90768946)"><img src="https://image.eveonline.com/Character/90768946_128.jpg" /></a><p>Lupercus Anninen</p></div>
        <div class="ds-subscriptions-staff"><a href="javascript:void(0)" onclick="CCPEVE.showInfo(1377, 979584747)"><img src="https://image.eveonline.com/Character/979584747_128.jpg" /></a><p>Grintaken</p></div>
    </div>
</div>