@{
    ViewBag.Title = "Ship Fit Detail";
    ViewBag.PageCss = Url.Content("~/Content/styles/shipfitdetail.css");
}

<div id="ds-main" role="main">
    <div id="ds-header">
        <h1>
            Ship Fit Detail<br />
            <small>Component list and market details for the selected ship fit.</small>
        </h1>
        <div class="ds-header-detail">
            <ul>
                <li>Hover over component names for the current hub prices.</li>
                <li>Click the 'Buy' button next to a component to open the market and buy windows for that item.</li>
                <li>Use the fitting buttons to view the ship fit within the game or in EFT format.</li>
            </ul>
        </div>
    </div>
    <div id="ds-shipfitdetailloading" class="ds-loading"><p>Refreshing Market Data...</p><img src="@Url.Content("~/Content/images/icons/loading.gif")" alt="Loading" /></div>
    <div id="ds-shipfitdetailresult"></div>
</div>

<script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
<script>
    var shipFitId = @ViewBag.ShipFitId

    // Show the loading bar.
    $("#ds-shipfitdetailresult").hide();
    $("#ds-shipfitdetailloading").show();

    $.ajax({
        url: "/ShipFit/DetailResult/" + shipFitId,
        type: "GET"
    })
    .done(function (partialViewResult) {
        // Hide the loading bar & display the partial view.
        $("#ds-shipfitdetailloading").hide();
        $("#ds-shipfitdetailresult").html(partialViewResult);
        $("#ds-shipfitdetailresult").show();
    });
</script>
