@{
    ViewBag.Title = "Error";
}

<div id="ds-main" role="main">
    <div id="ds-header">
        <h1>
            Error<br />
            <small>An error occured while processing your request. Please try again.</small>
        </h1>
    </div>
</div>