@{
    ViewBag.Title = "Access Denied";
    Layout = "";
}

<div id="ds-main" role="main">
    <div id="ds-header">
        <h1>
            Access Denied<br />
            <small>Please use your custom authentication URL to log in.</small><br />
            (Get it from <a href="https://wiki.braveineve.com/doctrine/start">the wiki here.</a> )
        </h1>
    </div>
</div>