@{
    ViewBag.Title = "Access Denied";
    Layout = "";
}

<div style="float:left; width:70%;">&nbsp</div>
<div style="font-size:small;float:left;">
    <a href="http://doctrines.pleaseignore.com/A/1/gifbaj" style="font-size:small;">
        <img src="@Url.Content("~/Content/images/main/bravelogo.png")" alt="Brave Doctrines" width="128" /><br />
        Brave Doctrines
    </a>
</div>
<br /><br /><br />
<div style="font-size:small; clear:both;">
    <a href="http://doctrines.pleaseignore.com/A/8/OOA40e">
        <img src="https://image.eveonline.com/Alliance/498125261_128.png" alt="Test Doctrines" /><br />
        Test Doctrines<br />
    </a>
</div>
