@{
    ViewBag.Title = "Access Denied";
}

<div id="ds-main" role="main">
    <div id="ds-header">
        <h1>
            Access Denied<br />
            <small>Please use your custom authentication URL to log in.</small>
        </h1>
    </div>
</div>